<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB798_Ml-u7L_GN9MzxOY4Nm2gmSYVlEec</string>
	<key>GCM_SENDER_ID</key>
	<string>547993050771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.template.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>igentech-13de9</string>
	<key>STORAGE_BUCKET</key>
	<string>igentech-13de9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547993050771:ios:a901a03aba2e7707cd3766</string>
</dict>
</plist>